$trackColor: #ddd;

#tree {
  @include flex;
  overflow: hidden;

  .node {
    cursor: default;

    .action {
      cursor: pointer;
    }

    .expression-box {
      padding: 8px 14px;
    }

    .expression-box:hover {
      background-color: $expression-box-clr;
    }

    .arrow {
      font-size: 30px;
    }

    body {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }

  .link {
    fill: none;
    stroke: lighten($trackColor, 6);
    stroke-width: 10px;
    stroke-linecap: round;
  }
}
