$trackColor: #ddd;
$trackColorLight: #cce;
$mathColor: #666;

#tree {
  @include flex;
  overflow: hidden;

  .node {
    cursor: default;

    .action {
      cursor: pointer;
    }

    .node-expression {
      border-style: solid;
      border-color: darken($trackColor, 5);
      border-width: 1px;
      border-radius: 5px;
      background-color: $trackColor;
      padding: 8px 14px;
      .mjx-chtml {
        span {
          color: $mathColor;
          cursor: default;
        }
      }
    }

    body {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }

  .link {
    fill: none;
    stroke: $trackColor;
    stroke-width: 10px;
    stroke-linecap: round;
  }
}
