// Add styles

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.input-row {
  margin: 20px;
}

#help {
  font-size: 30px;
}

#eq {
  font-size: 20px;
  color: #666;
  text-align:center;
}

#tree {
  width: 100%;
  height: 70%;
}

#error-alert {
  display: none;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #999;
}

.node text {
  font: 30px sans-serif;
  pointer-events: none;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

#popup {
  border-radius: 4px;
  pointer-events: none;
  position: absolute;
  background-color: #eee;
  visibility: hidden;
  width: 300px;
  height: 150px;
}
