@import '../bower_components/sass-flex-mixin/flex';
@import './tree';

html, body {
  height: 100%;
}

body {
  position: absolute;
  @include flexbox;
  @include flex-direction(column);

  #header {
    padding: 10px;

    .input-row {}

    #help {
      font-size: 30px;
    }

    #error-alert {
      display: none;
    }
  }

  #eq {
    display: none;
  }

  #popup {
    pointer-events: none;
    position: absolute;
    display: block;
    visibility: hidden;
    width: 200px;
    height: 100px;
    background-color: pink;
  }
}


