@import '../bower_components/sass-flex-mixin/flex';

html, body {
  height: 100%;
}

body {
  @include flexbox;
  @include flex-direction(column);
}

#header {
  padding: 10px;

  .input-row {}

  #help {
    font-size: 30px;
  }

  #eq {
    display: none;
  }

  #error-alert {
    display: none;
  }
}

#tree {
  @include flex;
  overflow: hidden;

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: white;
  }

  .node--internal circle {
    fill: white;
  }

  .node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }

  .link {
    fill: none;
    stroke: #bbb;
    stroke-opacity: 0.4;
    stroke-width: 5px;
  }
}
