@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import '../bower_components/sass-flex-mixin/flex';

$expression-box-clr: #eee;
$expression-text-clr: #666;
$expression-box-select-clr: #ccc;
$expression-box-current-clr: #dbb;
$expression-box-border-clr: #ddd;

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/grid.png');
    background-size: 210px;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

body {
  position: absolute;
  @include flexbox;
  @include flex-direction(column);

  #header {
    padding: 10px;

    .my-input-row {
      @include flexbox;
      @include flex-direction(row);
      @include align-items(flex-start);

      .my-input-col {
        @include flexbox;
        @include flex-direction(column);
        padding-top: 3px;

        .hint {
          padding-left: 8px;
          color: #aaa;
        }
      }

      .links {
        @include flexbox;
        @include flex-direction(row);
        padding: 0px 5px;
        img {
          margin: 5px;
          width: 30px;
        }

        .tat {
          margin: 1px;
          width: 38px;
        }
      }
    }

    #error-alert {
      display: none;
    }
  }

  #eq {
    display: none;
  }

  #popup {
    pointer-events: none;
    position: absolute;
    display: block;
    visibility: hidden;
    width: 200px;
    height: 100px;
    background-color: pink;
  }

  #paper {
    height: 100%;
    @include flexbox;
    @include flex-direction(row);
    @import './tree';
    @import './history';
  }
}

.expression-box {
  border-style: solid;
  border-color: $expression-box-border-clr;
  border-width: 1px;
  border-radius: 5px;
  background-color: $expression-box-clr;
  text-align: center;
  padding: 10px 0px;

  .mjx-chtml {
    span {
      color: $expression-text-clr;
      cursor: default;
    }
  }
}

.expression-box:hover {
  background-color: $expression-box-select-clr;
}

.expression-box.current {
  background-color: $expression-box-current-clr;
}

.expression-box.faded {
  opacity: 0.4;
}
